<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platform-application</key>
	<true/>
	<key>com.apple.private.security.no-container</key>
	<true/>
	<key>com.apple.private.skip-library-validation</key>
	<true/>
	<key>com.apple.private.CoreAuthentication.SPI</key>
	<true/>
	<key>com.apple.private.applecredentialmanager.allow</key>
	<true/>
	<key>com.apple.private.iokit.system-nvram-allow</key>
	<true/>
	<key>com.apple.private.kernel.get-kext-info</key>
	<true/>
	<key>com.apple.private.security.bootpolicy</key>
	<true/>
	<key>com.apple.private.security.iocatalog-management</key>
	<true/>
	<key>com.apple.private.security.kext-management</key>
	<true/>
	<key>com.apple.private.security.kext-collection-management</key>
	<true/>
	<key>com.apple.private.security.syspolicy.kext-management</key>
	<true/>
	<key>com.apple.rootless.internal-installer-equivalent</key>
	<true/>
	<key>com.apple.rootless.volume.Preboot</key>
	<true/>
	<key>com.apple.rootless.volume.iSCPreboot</key>
	<true/>
	<key>com.apple.rootless.storage.KernelExtensionManagement</key>
	<true/>
	<key>com.apple.security.cs.allow-unsigned-executable-memory</key>
	<true/>
	<key>com.apple.private.KextAudit.user-access</key>
	<true/>
	<key>com.apple.private.security.storage.SystemExtensionManagement</key>
	<true/>
	<key>com.apple.private.spawn-driver</key>
	<true/>
	<key>com.apple.private.storagekitd.statuschange</key>
	<true/>
	<key>com.apple.private.system-extensions.extension-point</key>
</dict>
</plist>
