.fakeroot_persist
.build_complete
build_base/
build_source/
build_stage/
build_work/
build_dist/
build_strap/
build_patch/*-[0-9]*

!.gitkeep
darwintools/cfversion
darwintools/firmware
.DS_Store

build_info/binutils-*-*.control
build_info/binutils.control
