[submodule "uikittools"]
	path = uikittools
	url = https://github.com/Diatrus/uikittools-ng
[submodule "openssh"]
	path = openssh
	url = https://github.com/Diatrus/openssh-portable.git
[submodule "system-cmds"]
	path = system-cmds
	url = https://github.com/Diatrus/system-cmds
[submodule "apt"]
	path = apt
	url = https://github.com/Diatrus/apt.git
[submodule "dimentio"]
	path = dimentio
	url = https://github.com/kasiimh1/dimentio
