[submodule "apt"]
	path = apt
	url = https://github.com/Diatrus/apt
[submodule "dpkg"]
	path = dpkg
	url = https://github.com/Diatrus/dpkg.git
[submodule "uikittools"]
	path = uikittools
	url = https://github.com/Diatrus/uikittools-ng
[submodule "openssh"]
	path = openssh
	url = https://github.com/Diatrus/openssh-portable.git
