<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>moe.absolucy.logcleaner</string>
	<key>ProgramArguments</key>
	<array>
		<string>@MEMO_PREFIX@@MEMO_SUB_PREFIX@/bin/find</string>
		<string>/var/mobile/Library/Logs/CrashReporter</string>
		<string>-mindepth</string>
		<string>1</string>
		<string>-mtime</string>
		<string>+3</string>
		<string>-delete</string>
	</array>
	<key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>86400</integer>
</dict>
</plist>
