<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
    <key>Label</key>
    <string>org.gnu.inetutils.telnetd</string>
    <key>POSIXSpawnType</key>
    <string>Interactive</string>
    <key>ProcessType</key>
    <string>Interactive</string>

    <key>Program</key>
    <string>@MEMO_PREFIX@@MEMO_SUB_PREFIX@/libexec/inetutils-telnetd</string>

    <key>ProgramArguments</key>
    <array>
        <string>@MEMO_PREFIX@@MEMO_SUB_PREFIX@/libexec/inetutils-telnetd</string>
        <string>--authmode=user</string>
        <string>--exec-login=@MEMO_PREFIX@@MEMO_SUB_PREFIX@/login</string>
    </array>

    <key>SessionCreate</key>
    <true/>

    <key>Sockets</key>
    <dict>
        <key>TelnetListenerV4</key>
        <dict>
            <key>SockFamily</key>
            <string>IPv4</string>
            <key>SockNodeName</key>
            <string>127.0.0.1</string>
            <key>SockServiceName</key>
            <string>46</string>
        </dict>
        <key>TelnetListenerV6</key>
        <dict>
            <key>SockFamily</key>
            <string>IPv6</string>
            <key>SockNodeName</key>
            <string>::1</string>
            <key>SockServiceName</key>
            <string>46</string>
        </dict>
    </dict>

    <key>StandardErrorPath</key>
    <string>/dev/null</string>

    <key>inetdCompatibility</key>
    <dict>
        <key>Wait</key>
        <false/>
    </dict>
    <key>ExecuteAllowed</key>
    <true/>
</dict>

</plist>
