<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
    <key>Disabled</key>
    <true/>
    <key>Label</key>
    <string>org.gnu.inetutils.syslogd</string>
    <key>POSIXSpawnType</key>
    <string>Background</string>
    <key>ProcessType</key>
    <string>Background</string>

    <key>Program</key>
    <string>@MEMO_PREFIX@@MEMO_SUB_PREFIX@/libexec/inetutils-syslogd</string>

    <key>ProgramArguments</key>
    <array>
        <string>@MEMO_PREFIX@@MEMO_SUB_PREFIX@/libexec/inetutils-syslogd</string>
        <string>--rcfile=@MEMO_PREFIX@/etc/syslog.conf</string>
        <string>--rcdir=@MEMO_PREFIX@/etc/syslog.d</string>
        <string>--no-detach</string>
        <string>--socket=@MEMO_PREFIX@/var/run/syslog</string>
    </array>

    <key>StandardErrorPath</key>
    <string>/dev/null</string>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <true/>

    <key>ExecuteAllowed</key>
    <true/>
</dict>

</plist>
