<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
    <key>Disabled</key>
    <true/>
    <key>Label</key>
    <string>org.gnu.inetutils.uucpd</string>
    <key>POSIXSpawnType</key>
    <string>Interactive</string>
    <key>ProcessType</key>
    <string>Interactive</string>

    <key>Program</key>
    <string>@MEMO_PREFIX@@MEMO_SUB_PREFIX@/libexec/inetutils-tftpd</string>

    <key>ProgramArguments</key>
    <array>
        <string>@MEMO_PREFIX@@MEMO_SUB_PREFIX@/libexec/inetutils-tftpd</string>
        <string>--uucico=@MEMO_PREFIX@@MEMO_SUB_PREFIX@/sbin/uucico</string>
    </array>

    <key>SessionCreate</key>
    <false/>

    <key>Sockets</key>
    <dict>
        <key>UUCPListener</key>
        <dict>
            <key>SockServiceName</key>
            <string>540</string>
        </dict>
    </dict>

    <key>StandardErrorPath</key>
    <string>/dev/null</string>

    <key>inetdCompatibility</key>
    <dict>
        <key>Wait</key>
        <false/>
    </dict>
    <key>ExecuteAllowed</key>
    <true/>
</dict>

</plist>
