<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
    <key>Label</key>
    <string>us.diatr.shshd</string>
    <key>POSIXSpawnType</key>
    <string>Interactive</string>
    <key>ProcessType</key>
    <string>Interactive</string>

    <key>Program</key>
    <string>/bin/sh</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/sh</string>
        <string>@MEMO_PREFIX@@MEMO_SUB_PREFIX@/libexec/shshd-wrapper</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>604800</integer>
</dict>
</plist>
