# colors
color normal	white black
color attachment brightyellow black
color hdrdefault cyan black
color indicator black cyan
color markers	brightred black
color quoted	green black
color signature cyan black
color status	brightgreen blue
color tilde	blue black
color tree	red black
#color header	brightgreen black ^From:
#color header	brightcyan black ^To:
#color header	brightcyan black ^Reply-To:
#color header	brightcyan black ^Cc:
#color header	brightblue black ^Subject:
#color body	brightred black [\-\.+_a-zA-Z0-9]+@[\-\.a-zA-Z0-9]+
#color body	brightblue black (https?|ftp)://[\-\.,/%~_:?&=\#a-zA-Z0-9]+

